@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-openSans: "Outfit", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #030303;
  --color-secondary: #131215;
  --color-third: #6da4d8;
  --color-fourth: #155dfc;
}
